.app {
  /* margin: auto; */
  background-color: #282828;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 19%;
  height: 525px;
}
.gel {
  padding-top: 5px;
  font-size: 15px;
}
.gelBox p {
  margin-bottom: 2px;
}
.gelBox{
  height: 55px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 3px;
  border: 3px solid black;
}
.gelHalf{
  display: flex;
  flex-direction: column;
}
.gelHalves{
  display: flex;
  justify-content: space-around;
}
.threeButtons{
  display: flex;
  justify-content: space-around;
  margin: 5px 0 5px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid black;
}
.button p {
}
.button{
  font-size: 14px;
  height: 25px;
  width: 55px;
  color: grey;
  background-image: linear-gradient(to bottom, #303030, black);
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .75;
}
