.app {
  /* margin: auto; */
  background-color: #282828;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 200px;
  height: 525px;
}
.gel {
  padding-top: 5px;
  font-size: 15px;
}
.gelBox p {
  margin-bottom: 5px;
}
.gelBox{
  height: 55px;
  width: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 3px solid black;
  margin: 0 3px 3px 3px;
}
.gelHalf{
  display: flex;
  flex-direction: column;
}
.gelHalves{
  display: flex;
  justify-content: center;
}
.threeButtons{
  display: flex;
  justify-content: space-around;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #181818;
}
.topButton, .fanButton {
  cursor: pointer;
  font-size: 13px;
  height: 25px;
  width: 55px;
  color: grey;
  background-image: linear-gradient(to bottom, #303030, black);
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .75;
}
.selectedTopButton, .selectedFanButton{
  color: white;
  background-image: none;
  background-image: linear-gradient(to top, black, #181818);
}
.fanHeader {
  margin-left: 20px;
  color: #BEBEBE;
  margin-top: 5px;
}
.fanDiv{
  border-top: 1px solid #181818;
  height: 32px;
  max-height: 100%;
}
.threeFanButtons{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
  height: 100%;
}
